
<div class="container admin-bar-top">
    <div class="admin-wrapper border-bottom">
        <div class="row">
            <div class="col-md-2">
                Welcome Admin!
            </div>
            <div class="col-md-10">
                <div class="admin-buttons">
                    <a href="insert"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Add Product</a>
                    <a href="delete/{{product._id}}"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Product</a>
                    <a href="update/{{product._id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Product</a>
                </div>
            </div>
        </div>
    </div>
</div>
